<!DOCTYPE html>
<!-- uhh yeah, i just copied home page code -->
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="navbar">
            <a class="music" href="https://soundcloud.com/softyshul/tracks">
                My Music
                <ion-icon name="musical-notes-outline"></ion-icon>
            </a>
            <a class="home" href="/about">
                My portolio
                <ion-icon name="planet-outline"></ion-icon>
            </a>
            <a class="contact" href=""> 
                My contacts
                <ion-icon name="mail-unread-outline"></ion-icon>
            </a>
        </div>

        <main>
            <h1 class="hrainbow">Photography</h1> <!-- using <br> element makes new line, I think its useful in making code cleaner :3 -->
            <h3>Here are some photo's I took during last summer. Never really had <br/>time nor did I have the same spark as I had once before.</h3>
            <br/>
            <h3>Winter's awful,<br/>for camera equipment. So that's why.<br/>Once the weather's going to warm up, expect my Portfolio to be updated</h3>

            <div class="portfolio_pictures">
                <div>
                    <img src="/images/pic1.jpg"/>
                    <img src="/images/pic2.jpg"/>
                </div>
                <div>
                    <img src="/images/pic3.jpg"/>
                    <img src="/images/pic4.jpg"/>
                </div>
            </div>
        </main>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>